<hr style="Margin: 20px auto; border-bottom: 1px solid #cacaca; border-left: 0; border-right: 0; border-top: 0; clear: both; height: 0; margin: 20px auto; max-width: 580px;">


<table align="center" class="container" style="Margin: 0 auto; background: 0 0; border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 100%;">
    <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #000; font-family: Arial,sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 18px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
                <table class="row collapsed footer" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
                    <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <th class="small-12 large-12 columns first last" style="Margin: 0 auto; color: #000; font-family: Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 18px; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 0 !important; padding-right: 0 !important; text-align: left; width: 100%;">
                                <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                    <tr>
                                        <td style="padding-top:30px;padding-bottom:30px;padding-left:30px;padding-right:30px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <div style="margin: 0 auto; font-weight: normal; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#222222;font-size:16px;line-height:1.5;max-width:450px;">Good working!<br /></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding-top: 38px;">
                                            <div style="margin: 0 auto; font-weight: normal; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#222222;font-size:12px;line-height:1.5;max-width:450px;">Kazakhstan, Almaty, st. Satpayev, 22<br /><a href="tel:+77717097937">+7 (555) 555-55-55</a>; <a href="tel:+77273131950">+7 (777) 777-77-77<br />disciplineweb@yandex.ru</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding-top: 25px;">
                                            <div style="margin: 0 auto; font-weight: normal; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#a1a1a1;font-size:12px;">If you received a message in error, please ignore it.<br /><br />Discipline.kz &copy; 2019, All rights reserved<br /></div>
                                        </td>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
</table>

</body>

</html>