<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        <small>Welcome!</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-7">
            <img class="img-fluid" src="~/img/dmsPicture/mainBg.png" alt="">
        </div>

        <div class="col-md-5">
            <h3 class="my-3" style="color:red">«Discipline» Document Management System</h3>
            <p>
                management of documents the organization from the moment of their creation until the final destruction.
            </p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>HR-management</li>
                <li>Document workflow system</li>
                <li>Office automation</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->


</div>

<!-- /.container -->
